<launch>
    <!-- Launch the server node -->
    <node ns="/" name="adapter_server" pkg="grpc_ros_adapter" type="server.py" output="screen">
        <rosparam file="$(find grpc_ros_adapter)/config/server.yaml" command="load" />
    </node>

    <!-- Launch the GUI node -->
    <node ns="/" name="marus_gui" pkg="grpc_ros_adapter" type="marus_gui" output="screen" />
</launch>
